{erl_opts, [debug_info, 
            warn_missing_spec,
            warn_format, 
            warn_obsolete_guard, 
            warnings_as_errors]}.
{erl_first_files, ["src/sfmt.erl"]}.

{lib_dirs, ["deps"]}.


{deps, [
  {neotoma, ".*", {git, "git://github.com/seancribbs/neotoma.git", "master"}}
]}.

%{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.

